img {
  border: none;
  width: 100%;
}

h1{
  font-family: 'Roboto',helvetica,sans-serif;
  color:#2e282a;
}
h2{
  font-family: 'Lato',helvetica,sans-serif;
  color:#2e282a;
}
p{
  font-family: 'Cabin', sans-serif;
  color:#2e282a;
}
#container{
  width:90%;
  margin:auto;
}

#nav a:link{
display:block;
padding: 12px;
list-style-type: none;
text-decoration:none;
text-align: center;
font-family: 'Roboto',helvetica,sans-serif;
color: white;
background-color: color:#2e282a;
}
